<ul class="navbar-nav" *ngIf="isAuthenticated | async">
    <li class="nav-item">
        <a  class="nav-link" [routerLink]='["/profile"]' title="Manage">Hello {{ userName | async }}</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link" [routerLink]='["/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
    </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item">
        <a class="nav-link" [routerLink]='["/register"]'>Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]='["/login"]'>Login</a>
    </li>
</ul>
