[data-theme="dark"] {
    background-color: #181818 !important;
    color: #eee !important;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #181818 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] {
    background-color: #181818 !important;
    color: #fff !important;
}

    [data-theme="dark"] a {
        color: #fff !important;
    }

        [data-theme="dark"] a:hover {
            color: #eee !important;
        }

    [data-theme="dark"] .text-dark {
        color: #fff !important;
    }

    /* BUTTONS */

    [data-theme="dark"] .btn-link {
        color: #fff !important;
    }

    [data-theme="dark"] .btn-close {
        filter: invert(1) grayscale(100%) brightness(200%) !important;
    }

    [data-theme="dark"] .btn-dark {
        color: #181818 !important;
        background-color: #f8f9fa !important;
        border-color: #f8f9fa !important;
    }

        [data-theme="dark"] .btn-dark:hover {
            color: #181818 !important;
            background-color: #f9fafb !important;
            border-color: #f9fafb !important;
        }

        [data-theme="dark"] .btn-check:focus + .btn-dark,
        [data-theme="dark"] .btn-dark:focus {
            color: #181818 !important;
            background-color: #f9fafb !important;
            border-color: #f9fafb !important;
            box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5) !important;
        }

        [data-theme="dark"] .btn-check:checked + .btn-dark,
        [data-theme="dark"] .btn-check:active + .btn-dark,
        [data-theme="dark"] .btn-dark:active,
        [data-theme="dark"] .btn-dark.active,
        [data-theme="dark"] .show > .btn-dark.dropdown-toggle {
            color: #181818 !important;
            background-color: #f9fafb !important;
            border-color: #f9fafb !important;
        }

            [data-theme="dark"] .btn-check:checked + .btn-dark:focus,
            [data-theme="dark"] .btn-check:active + .btn-dark:focus,
            [data-theme="dark"] .btn-dark:active:focus,
            [data-theme="dark"] .btn-dark.active:focus,
            [data-theme="dark"] .show > .btn-dark.dropdown-toggle:focus {
                box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5) !important;
            }

        [data-theme="dark"] .btn-dark:disabled,
        [data-theme="dark"] .btn-dark.disabled {
            color: #181818 !important;
            background-color: #f8f9fa !important;
            border-color: #f8f9fa !important;
        }

    [data-theme="dark"] .btn-light {
        color: #fff !important;
        background-color: #202020 !important;
        border-color: #202020 !important;
    }

        [data-theme="dark"] .btn-light:hover {
            color: #fff !important;
            background-color: #1c1f23 !important;
            border-color: #1a1e21 !important;
        }

        [data-theme="dark"] .btn-check:focus + .btn-light,
        [data-theme="dark"] .btn-light:focus {
            color: #fff !important;
            background-color: #1c1f23 !important;
            border-color: #1a1e21 !important;
            box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5) !important;
        }

        [data-theme="dark"] .btn-check:checked + .btn-light,
        [data-theme="dark"] .btn-check:active + .btn-light,
        [data-theme="dark"] .btn-light:active,
        [data-theme="dark"] .btn-light.active,
        [data-theme="dark"] .show > .btn-light.dropdown-toggle {
            color: #fff !important;
            background-color: #1a1e21 !important;
            border-color: #191c1f !important;
        }

            [data-theme="dark"] .btn-check:checked + .btn-light:focus,
            [data-theme="dark"] .btn-check:active + .btn-light:focus,
            [data-theme="dark"] .btn-light:active:focus,
            [data-theme="dark"] .btn-light.active:focus,
            [data-theme="dark"] .show > .btn-light.dropdown-toggle:focus {
                box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5) !important;
            }

        [data-theme="dark"] .btn-light:disabled,
        [data-theme="dark"] .btn-light.disabled {
            color: #fff !important;
            background-color: #202020 !important;
            border-color: #202020 !important;
        }

    [data-theme="dark"] .btn-outline-dark {
        color: #f8f9fa !important;
        border-color: #f8f9fa !important;
    }

        [data-theme="dark"] .btn-outline-dark:hover {
            color: #181818 !important;
            background-color: #f8f9fa !important;
            border-color: #f8f9fa !important;
        }

        [data-theme="dark"] .btn-check:focus + .btn-outline-dark,
        [data-theme="dark"] .btn-outline-dark:focus {
            box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5) !important;
        }

        [data-theme="dark"] .btn-check:checked + .btn-outline-dark,
        [data-theme="dark"] .btn-check:active + .btn-outline-dark,
        [data-theme="dark"] .btn-outline-dark:active,
        [data-theme="dark"] .btn-outline-dark.active,
        [data-theme="dark"] .btn-outline-dark.dropdown-toggle.show {
            color: #181818 !important;
            background-color: #f8f9fa !important;
            border-color: #f8f9fa !important;
        }

            [data-theme="dark"] .btn-check:checked + .btn-outline-dark:focus,
            [data-theme="dark"] .btn-check:active + .btn-outline-dark:focus,
            [data-theme="dark"] .btn-outline-dark:active:focus,
            [data-theme="dark"] .btn-outline-dark.active:focus,
            [data-theme="dark"] .btn-outline-dark.dropdown-toggle.show:focus {
                box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5) !important;
            }

        [data-theme="dark"] .btn-outline-dark:disabled,
        [data-theme="dark"] .btn-outline-dark.disabled {
            color: #f8f9fa !important;
            background-color: transparent !important;
        }

    [data-theme="dark"] .btn-outline-light {
        color: #202020 !important;
        border-color: #202020 !important;
    }

        [data-theme="dark"] .btn-outline-light:hover {
            color: #fff !important;
            background-color: #202020 !important;
            border-color: #202020 !important;
        }

        [data-theme="dark"] .btn-check:focus + .btn-outline-light,
        [data-theme="dark"] .btn-outline-light:focus {
            box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5) !important;
        }

        [data-theme="dark"] .btn-check:checked + .btn-outline-light,
        [data-theme="dark"] .btn-check:active + .btn-outline-light,
        [data-theme="dark"] .btn-outline-light:active,
        [data-theme="dark"] .btn-outline-light.active,
        [data-theme="dark"] .btn-outline-light.dropdown-toggle.show {
            color: #fff !important;
            background-color: #202020 !important;
            border-color: #202020 !important;
        }

            [data-theme="dark"] .btn-check:checked + .btn-outline-light:focus,
            [data-theme="dark"] .btn-check:active + .btn-outline-light:focus,
            [data-theme="dark"] .btn-outline-light:active:focus,
            [data-theme="dark"] .btn-outline-light.active:focus,
            [data-theme="dark"] .btn-outline-light.dropdown-toggle.show:focus {
                box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5) !important;
            }

        [data-theme="dark"] .btn-outline-light:disabled,
        [data-theme="dark"] .btn-outline-light.disabled {
            color: #202020 !important;
            background-color: transparent !important;
        }

    /* DROPDOWNS */

    [data-theme="dark"] .dropdown-menu {
        color: #dee2e6 !important;
        background-color: rgba(32, 32, 32, 0.95) !important;
        border-color: rgba(0, 0, 0, 0.15) !important;
    }

        [data-theme="dark"] .dropdown-menu .dropdown-item {
            color: #dee2e6 !important;
        }

            [data-theme="dark"] .dropdown-menu .dropdown-item:hover,
            [data-theme="dark"] .dropdown-menu .dropdown-item:focus {
                color: #fff !important;
                background-color: rgba(255, 255, 255, 0.15) !important;
            }

            [data-theme="dark"] .dropdown-menu .dropdown-item.active,
            [data-theme="dark"] .dropdown-menu .dropdown-item:active {
                color: #fff !important;
                background-color: #0d6efd !important;
            }

            [data-theme="dark"] .dropdown-menu .dropdown-item.disabled,
            [data-theme="dark"] .dropdown-menu .dropdown-item:disabled {
                color: #adb5bd !important;
            }

        [data-theme="dark"] .dropdown-menu .dropdown-divider {
            border-color: rgba(0, 0, 0, 0.15) !important;
        }

        [data-theme="dark"] .dropdown-menu .dropdown-item-text {
            color: #dee2e6 !important;
        }

        [data-theme="dark"] .dropdown-menu .dropdown-header {
            color: #adb5bd !important;
        }

    /* LIST GROUPS */

    [data-theme="dark"] .list-group-item-action {
        color: #fff !important;
    }

        [data-theme="dark"] .list-group-item-action:hover,
        [data-theme="dark"] .list-group-item-action:focus {
            color: #fff !important;
            background-color: #333 !important;
        }

        [data-theme="dark"] .list-group-item-action:active {
            color: #fff !important;
            background-color: #181818 !important;
        }

    [data-theme="dark"] .list-group-item {
        background-color: #181818 !important;
        border: 1px solid #333 !important;
    }

        [data-theme="dark"] .list-group-item:not(:first-child) {
            border-top: none !important;
        }

        [data-theme="dark"] .list-group-item.disabled,
        [data-theme="dark"] .list-group-item:disabled {
            color: #fff !important;
            background-color: #181818 !important;
        }

        [data-theme="dark"] .list-group-item.active {
            color: #fff !important;
            background-color: #0d6efd !important;
            border-color: #0d6efd !important;
        }

    /* TABS */

    [data-theme="dark"] .nav-tabs {
        border-bottom: 1px solid #181818 !important;
    }

        [data-theme="dark"] .nav-tabs .nav-link:hover,
        [data-theme="dark"].nav-tabs .nav-link:focus {
            border-color: #202020 #202020 #181818 !important;
        }

        [data-theme="dark"] .nav-tabs .nav-link.disabled {
            color: #333 !important;
        }

        [data-theme="dark"] .nav-tabs .nav-link.active,
        [data-theme="dark"] .nav-tabs .nav-item.show .nav-link {
            color: #fff !important;
            background-color: #181818 !important;
            border-color: #202020 #202020 #181818 !important;
        }

    /* PAGINATION */

    [data-theme="dark"] .page-link {
        color: #fff !important;
        background-color: #181818 !important;
        border: 1px solid #333 !important;
    }

        [data-theme="dark"] .page-link:hover {
            color: #fff !important;
            background-color: #333 !important;
            border-color: #333 !important;
        }

        [data-theme="dark"] .page-link:focus {
            color: #fff !important;
            background-color: #181818 !important;
        }

    [data-theme="dark"] .page-item.active .page-link {
        color: #fff !important;
        background-color: #0d6efd !important;
        border-color: #0d6efd !important;
    }

    [data-theme="dark"] .page-item.disabled .page-link {
        color: #fff !important;
        background-color: #181818 !important;
        border-color: #333 !important;
    }

    /* BACKGROUNDS */

    [data-theme="dark"] .bg-light {
        background-color: #202020 !important;
    }

    [data-theme="dark"] .bg-dark {
        background-color: #f8f9fa !important;
    }

    [data-theme="dark"] .bg-white {
        background-color: #181818 !important;
    }

        [data-theme="dark"] .bg-white.text-white,
        [data-theme="dark"] .bg-dark.text-white,
        [data-theme="dark"] .bg-warning.text-dark,
        [data-theme="dark"] .bg-info.text-dark {
            color: #202020 !important;
        }

    /* BORDERS */

    [data-theme="dark"] .border,
    [data-theme="dark"] .border-top,
    [data-theme="dark"] .border-end,
    [data-theme="dark"] .border-bottom,
    [data-theme="dark"] .border-start {
        border-color: #202020 !important;
    }

    /* BREADCRUMB */

    [data-theme="dark"] .breadcrumb.border {
        border-color: #333 !important;
    }

    /* SHADOWS */

    [data-theme="dark"] .shadow {
        box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15) !important;
    }

    [data-theme="dark"] .shadow-sm {
        box-shadow: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.075) !important;
    }

    [data-theme="dark"] .shadow-lg {
        box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.175) !important;
    }

    /* CARDS */

    [data-theme="dark"] .card {
        background-color: #181818 !important;
        border: 1px solid rgba(255, 255, 255, 0.125) !important;
    }

    /* MODALS */

    [data-theme="dark"] .modal-content {
        background-color: #181818 !important;
        border: 1px solid rgba(255, 255, 255, 0.2) !important;
    }

    [data-theme="dark"] .modal-header {
        border-bottom: 1px solid #202020 !important;
    }

    [data-theme="dark"] .modal-footer {
        border-top: 1px solid #202020 !important;
    }

    [data-theme="dark"] .modal-backdrop.show {
        opacity: 0.75 !important;
    }

    /* TOASTS */

    [data-theme="dark"] .toast {
        background-color: rgba(255, 255, 255, 0.85) !important;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
        box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15) !important;
    }

    [data-theme="dark"] .toast-header {
        color: #6c757d !important;
        background-color: rgba(255, 255, 255, 0.85) !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
    }

        [data-theme="dark"] .toast-header .btn-close {
            filter: invert(0) grayscale(0%) brightness(0%) !important;
        }

    [data-theme="dark"] .toast-body {
        color: #181818 !important;
    }

    /* ACCORDIONS */

    [data-theme="dark"] .accordion:not(.accordion-flush) {
        border-top: 1px solid #333 !important;
        border-top-left-radius: 0.25rem !important;
        border-top-right-radius: 0.25rem !important;
    }

    [data-theme="dark"] .accordion-button {
        color: #fff !important;
        background-color: #181818 !important;
        border: 1px solid #333 !important;
        border-top: none !important;
    }

        [data-theme="dark"] .accordion-button:not(.collapsed) {
            color: #fff !important;
            background-color: #181818 !important;
            border-bottom: none !important;
        }

        [data-theme="dark"] .accordion-button::after {
            filter: invert(1) grayscale(100%) brightness(200%) !important;
        }

    [data-theme="dark"] .accordion-collapse {
        border: 1px solid #333 !important;
    }

    [data-theme="dark"] .accordion-flush .accordion-button {
        border-right: 0 !important;
        border-left: 0 !important;
        border-radius: 0 !important;
    }

    [data-theme="dark"] .accordion-flush .accordion-collapse {
        border-width: 0 !important;
    }

    [data-theme="dark"] .accordion-flush .accordion-item:first-of-type .accordion-button {
        border-top-width: 0 !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }

    [data-theme="dark"] .accordion-flush .accordion-item:last-of-type .accordion-button.collapsed {
        border-bottom-width: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    /* PROGRESS BARS */

    [data-theme="dark"] .progress {
        background-color: #333 !important;
    }

    /* FORMS */

    [data-theme="dark"] .form-control::-webkit-input-placeholder,
    [data-theme="dark"] .form-control::-moz-placeholder,
    [data-theme="dark"] .form-control::placeholder {
        color: #ccc !important;
    }

    [data-theme="dark"] .form-control-plaintext {
        color: #ccc !important;
    }

    [data-theme="dark"] .form-control {
        color: #fff !important;
        background-color: #181818 !important;
        border: 1px solid #333 !important;
    }

    [data-theme="dark"] .input-group-text {
        color: #fff !important;
        background-color: #333 !important;
        border: 1px solid #333 !important;
    }

    [data-theme="dark"] .form-select {
        color: #fff !important;
        border-color: #333 !important;
        background: #181818 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px !important;
        border: 1px solid #181818 !important;
    }

        [data-theme="dark"] .form-select option {
            color: #fff !important;
        }

        [data-theme="dark"] .form-select:disabled {
            color: #666 !important;
            background-color: #333 !important;
        }

        [data-theme="dark"] .form-select:-moz-focusring {
            text-shadow: 0 0 0 #495057 !important;
        }

    [data-theme="dark"] .form-floating > .form-control::-webkit-input-placeholder,
    [data-theme="dark"] .form-floating > .form-control::-moz-placeholder,
    [data-theme="dark"] .form-floating > .form-control::placeholder {
        color: transparent !important;
    }

    [data-theme="dark"] .form-floating > .form-control:not(:-moz-placeholder-shown) ~ label,
    [data-theme="dark"] .form-floating > .form-control:focus ~ label,
    [data-theme="dark"] .form-floating > .form-control:not(:placeholder-shown) ~ label,
    [data-theme="dark"] .form-floating > .form-select ~ label,
    [data-theme="dark"] .form-floating > .form-control:-webkit-autofill ~ label {
        opacity: 0.65 !important;
    }

    [data-theme="dark"] .form-control.is-invalid, .was-validated .form-control:invalid {
        border-color: #dc3545 !important;
    }

    [data-theme="dark"] .form-control.is-valid, .was-validated .form-control:valid {
        border-color: #198754 !important;
    }

    [data-theme="dark"] .form-range::-webkit-slider-runnable-track {
        background-color: #333 !important;
    }

    [data-theme="dark"] .form-range::-moz-range-thumb {
        background-color: #0d6efd !important;
    }

        [data-theme="dark"] .form-range::-moz-range-thumb:active {
            background-color: #b6d4fe !important;
        }

    [data-theme="dark"] .form-range::-moz-range-track {
        background-color: #333 !important;
    }

    [data-theme="dark"] .form-range:disabled::-webkit-slider-thumb {
        background-color: #666 !important;
    }

    [data-theme="dark"] .form-range:disabled::-moz-range-thumb {
        background-color: #666 !important;
    }

    /* CAROUSEL - CSS here if you want it... */
    /*
[data-theme="dark"] .carousel .carousel-control-prev-icon,
[data-theme="dark"] .carousel .carousel-control-next-icon { filter: invert(1) grayscale(100) !important; }
[data-theme="dark"] .carousel .carousel-indicators li { background-color: #181818 !important; }
[data-theme="dark"] .carousel .carousel-caption { color: #181818 !important; }
*/

    /* TABLES */

    [data-theme="dark"] .table {
        --bs-table-bg: transparent !important;
        --bs-table-striped-color: #fff !important;
        --bs-table-striped-bg: rgba(255, 255, 255, 0.05) !important;
        --bs-table-active-color: #fff !important;
        --bs-table-active-bg: rgba(255, 255, 255, 0.1) !important;
        --bs-table-hover-color: #fff !important;
        --bs-table-hover-bg: rgba(255, 255, 255, 0.075) !important;
        color: #fff !important;
        border-color: #333 !important;
    }

    [data-theme="dark"] .table-hover > tbody > tr.no-hover:hover {
        --bs-table-hover-color: #fff !important;
        --bs-table-hover-bg: #181818 !important;
    }






/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 40px;
        width: 40px;
        left: 0px;
        bottom: 4px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        box-shadow: 0 0px 15px #2020203d;
        background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
        background-repeat: no-repeat;
        background-position: center;
    }

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }