@model HomeManager.Models.Status
@{
    Layout = "_Layout";
    ViewData["Title"] = "Status";
    ViewData["ActivePage"] = ManageNavPages.Status;
}

<h4>@ViewData["Title"]</h4>

<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalCreateStatusAdmin">New Status</button>

<form id="formCreateStatusAdmin" asp-action="CreateStatus">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="modalCreateStatusAdmin" role="dialog" aria-labelledby="modalLabelCreateStatusAdmin" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelCreateStatusAdmin">New Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyCreateStatusAdmin">
                    <div class="form-group form-floating">
                        <input asp-for="Name" placeholder="Name" id="inputNameCreateStatusAdmin" class="form-control" />
                        <label asp-for="Name" class="control-label"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" id="inputEndPointCreateStatusAdmin" asp-for="EndPoint" /> @Html.DisplayNameFor(model => model.EndPoint)
                        </label>
                    </div>
                </div>
                <div class="modal-footer" id="modalFooterCreateStatusAdmin">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" value="Create" class="btn btn-primary" id="buttonModalCreateStatusAdmin" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="formEditStatusAdmin" asp-action="EditStatus">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="modalEditStatusAdmin" role="dialog" aria-labelledby="modalLabelEditStatusAdmin" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelEditStatusAdmin">Edit Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyEditStatusAdmin">
                    <div class="form-group form-floating">
                        <input asp-for="Name" placeholder="Name" id="inputNameEditStatusAdmin" class="form-control" />
                        <label asp-for="Name" class="control-label"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" id="inputEndPointEditStatusAdmin" asp-for="EndPoint" /> @Html.DisplayNameFor(model => model.EndPoint)
                        </label>
                    </div>
                </div>
                <div class="modal-footer" id="modalFooterEditStatusAdmin">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" value="Create" class="btn btn-primary" id="buttonModalEditStatusAdmin" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="formDeleteStatusAdmin" asp-action="DeleteStatus">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="modalDeleteStatusAdmin" role="dialog" aria-labelledby="modalLabelDeleteStatusAdmin" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelDeleteStatusAdmin">Delete Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyDeleteStatusAdmin">
                    <p>Are you sure you want to Delete this StatusAdmin?</p>
                </div>
                <div class="modal-footer" id="modalFooterDeleteStatusAdmin">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" value="Create" class="btn btn-danger" id="buttonModalDeleteStatusAdmin" data-bs-dismiss="modal">Delete Status</button>
                </div>
            </div>
        </div>
    </div>
</form>

<br />

<table id="tblStatusAdmin" class="table table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                End Point
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/admin/status.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css">
    <partial name="_ValidationScriptsPartial" />
}
