@using Microsoft.AspNetCore.Identity
@using HomeManager.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{ 
    var isAdmin = false;
    var user = await UserManager.GetUserAsync(User);
    if (user != null)
    {
        isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
    }
}

<ul class="navbar-nav">
    @if (isAdmin)
    {
        <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index" title="Manage">Admin</a>
        </li>
    }
</ul>
