<div>
    <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item" routerLink="./"><a class="nav-link">Settings</a></li>
            <hr />
            <li class="nav-item" routerLink="account"><a class="nav-link">Account</a></li>
            <hr />
            <li class="nav-item" routerLink="finance"><a class="nav-link">Finance</a></li>
        </ul>
        </div>
        <div class="col-md-9">
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
  