@model HomeManager.Models.Entities.Finance.Type
@{
    Layout = "_Layout";
    ViewData["Title"] = "Types";
    ViewData["ActivePage"] = ManageNavPages.Types;
}

<h4>@ViewData["Title"]</h4>

<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalCreateTypeCustomize">New Type</button>

<form id="formCreateTypeCustomize" asp-action="CreateType">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="modalCreateTypeCustomize" role="dialog" aria-labelledby="modalLabelCreateTypeCustomize" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelCreateTypeCustomize">New Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyCreateTypeCustomize">
                    <div class="form-group form-floating">
                        <input asp-for="Name" placeholder="Name" id="inputNameCreateTypeCustomize" class="form-control" />
                        <label asp-for="Name" class="control-label"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="EndTaxType" placeholder="EndTaxType" id="inputEndTaxTypeCreateTypeCustomize" class="form-control" />
                        <label asp-for="EndTaxType" class="control-label"></label>
                        <span asp-validation-for="EndTaxType" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Debit" id="inputDebitCreateTypeCustomize" /> @Html.DisplayNameFor(model => model.Debit)
                        </label>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="ExtraInput" placeholder="ExtraInput" id="inputExtraInputCreateTypeCustomize" class="form-control" />
                        <label asp-for="ExtraInput" class="control-label"></label>
                        <span asp-validation-for="ExtraInput" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <select asp-for="fk_StatusId" id="dropdownStatusCreateTypeCustomize" class="form-control" asp-items="ViewBag.Status">
                            <option value="-1" disabled selected>Select a end Status</option>
                        </select>
                        <label asp-for="fk_StatusId" class="control-label">End Status</label>
                    </div>
                </div>
                <div class="modal-footer" id="modalFooterCreateTypeCustomize">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" value="Create" class="btn btn-primary" id="buttonModalCreateTypeCustomize" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="formEditTypeCustomize" asp-action="EditType">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="modalEditTypeCustomize" role="dialog" aria-labelledby="modalLabelEditTypeCustomize" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelEditTypeCustomize">Edit Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyEditTypeCustomize">
                    <div class="form-group form-floating">
                        <input asp-for="Name" placeholder="Name" id="inputNameEditTypeCustomize" class="form-control" />
                        <label asp-for="Name" class="control-label"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="EndTaxType" placeholder="EndTaxType" id="inputEndTaxTypeEditTypeCustomize" class="form-control" />
                        <label asp-for="EndTaxType" class="control-label"></label>
                        <span asp-validation-for="EndTaxType" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" id="inputDebitEditTypeCustomize" asp-for="Debit" /> @Html.DisplayNameFor(model => model.Debit)
                        </label>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="ExtraInput" placeholder="ExtraInput" id="inputExtraInputEditTypeCustomize" class="form-control" />
                        <label asp-for="ExtraInput" class="control-label"></label>
                        <span asp-validation-for="ExtraInput" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <select asp-for="fk_StatusId"  id="dropdownStatusEditTypeCustomize" class="form-control" asp-items="ViewBag.Status">
                        </select>
                        <label asp-for="fk_StatusId" class="control-label">End Status</label>
                    </div>
                </div>
                <div class="modal-footer" id="modalFooterEditTypeCustomize">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" value="Create" class="btn btn-primary" id="buttonModalEditTypeCustomize" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="formDeleteTypeCustomize" asp-action="DeleteType">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="modalLabelDeleteTypeCustomize" role="dialog" aria-labelledby="modalLabelDeleteTypeCustomize" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelDeleteTypeCustomize">Delete Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyDeleteTypeCustomize">
                    <p>Are you sure you want to Delete this TypeCustomize?</p>
                </div>
                <div class="modal-footer" id="modalFooterDeleteTypeCustomize">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" value="Create" class="btn btn-danger" id="buttonModalDeleteTypeCustomize" data-bs-dismiss="modal">Delete Type</button>
                </div>
            </div>
        </div>
    </div>
</form>

<br />

<table id="tblTypeCustomize" class="table table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                EndTaxType
            </th>
            <th>
                Debit
            </th>
            <th>
                ExtraInput
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/customize/type.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css">
    <partial name="_ValidationScriptsPartial" />
}
