@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="spinner-border ms-auto" role="status" aria-hidden="true" style="width: 500px; height: 500px; margin-right:auto; margin-left: auto; margin-top:5%;"></div>
</div>