@model HomeManager.Models.Entities.Finance.Payment

@{
    ViewData["Title"] = "Payments";
    ViewData["ActivePage"] = FinanceNavViews.Payments;
}

<h4>@ViewData["Title"]</h4>

<button id="addRow">Add new row</button>

<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalCreatePaymentFinance">New Payment</button>

<form id="formCreatePaymentFinance" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="modalCreatePaymentFinance" role="dialog" aria-labelledby="modalLabelCreatePaymentFinance" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelCreatePaymentFinance">New Payment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyCreatePaymentFinance">
                    <div class="form-group form-floating">
                        <select asp-for="fk_TypeId" id="dropdownTypeCreatePaymentFinance" class="form-control" asp-items="ViewBag.Types">
                            <option value="-1" disabled selected>Select a Type</option>
                        </select>
                        <label asp-for="fk_TypeId" class="control-label">Type</label>
                    </div>
                </div>
                <div class="modal-footer" id="modalFooterCreatePaymentFinance">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" value="Create" class="btn btn-primary" id="buttonModalCreatePaymentFinance" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="formEditPaymentFinance" asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="modalEditPaymentFinance" role="dialog" aria-labelledby="modalLabelEditPaymentFinance" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelEditPaymentFinance">Edit Payment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyEditPaymentFinance">

                </div>
                <div class="modal-footer" id="modalFooterEditPaymentFinance">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" value="Create" class="btn btn-primary" id="buttonModalEditPaymentFinance" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="formDeletePaymentFinance" asp-action="Delete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="modalDeletePaymentFinance" role="dialog" aria-labelledby="modalLabelDeletePaymentFinance" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelDeletePaymentFinance">Delete Payment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyDeletePaymentFinance">
                    <p>Are you sure you want to Delete this Payment?</p>
                </div>
                <div class="modal-footer" id="modalFooterDeletePaymentFinance">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" value="Create" class="btn btn-danger" id="buttonModalDeletePaymentFinance" data-bs-dismiss="modal">Delete Payment</button>
                </div>
            </div>
        </div>
    </div>
</form>
<br />

<table id="tblIndexPayments" class="table table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Type</th>
            <th>Category</th>
            <th>Amount</th>
        </tr>
    </thead>
</table>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/finance/payments.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css">
}
