@model HomeManager.Models.Entities.Finance.Type
@{
    ViewData["Title"] = "Types";
    ViewData["ActivePage"] = AdminNavViews.Types;
}

<h4>@ViewData["Title"]</h4>

<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalCreateTypeAdmin">New Type</button>

<form id="formCreateTypeAdmin" asp-action="CreateType">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="modalCreateTypeAdmin" role="dialog" aria-labelledby="modalLabelCreateTypeAdmin" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelCreateTypeAdmin">New Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyCreateTypeAdmin">
                    <div class="form-group form-floating">
                        <input asp-for="Name" placeholder="Name" id="inputNameCreateTypeAdmin" class="form-control" />
                        <label asp-for="Name" class="control-label"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="EndTaxType" placeholder="EndTaxType" id="inputEndTaxTypeCreateTypeAdmin" class="form-control" />
                        <label asp-for="EndTaxType" class="control-label"></label>
                        <span asp-validation-for="EndTaxType" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="TransactionType" placeholder="TransactionType" id="inputTransactionTypeCreateTypeAdmin" class="form-control" />
                        <label asp-for="TransactionType" class="control-label"></label>
                        <span asp-validation-for="TransactionType" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="ExtraInput" placeholder="ExtraInput" id="inputExtraInputCreateTypeAdmin" class="form-control" />
                        <label asp-for="ExtraInput" class="control-label"></label>
                        <span asp-validation-for="ExtraInput" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <select asp-for="fk_StatusId" id="dropdownStatusCreateTypeAdmin" class="form-control" asp-items="ViewBag.Status">
                            <option value="-1" disabled selected>Select a end Status</option>
                        </select>
                        <label asp-for="fk_StatusId" class="control-label">End Status</label>
                    </div>
                </div>
                <div class="modal-footer" id="modalFooterCreateTypeAdmin">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" value="Create" class="btn btn-primary" id="buttonModalCreateTypeAdmin" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="formEditTypeAdmin" asp-action="EditType">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="modalEditTypeAdmin" role="dialog" aria-labelledby="modalLabelEditTypeAdmin" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelEditTypeAdmin">Edit Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyEditTypeAdmin">
                    <div class="form-group form-floating">
                        <input asp-for="Name" placeholder="Name" id="inputNameEditTypeAdmin" class="form-control" />
                        <label asp-for="Name" class="control-label"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="EndTaxType" placeholder="EndTaxType" id="inputEndTaxTypeEditTypeAdmin" class="form-control" />
                        <label asp-for="EndTaxType" class="control-label"></label>
                        <span asp-validation-for="EndTaxType" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="TransactionType" placeholder="TransactionType" id="inputTransactionTypeEditTypeAdmin" class="form-control" />
                        <label asp-for="TransactionType" class="control-label"></label>
                        <span asp-validation-for="TransactionType" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="ExtraInput" placeholder="ExtraInput" id="inputExtraInputEditTypeAdmin" class="form-control" />
                        <label asp-for="ExtraInput" class="control-label"></label>
                        <span asp-validation-for="ExtraInput" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <select asp-for="fk_StatusId" id="dropdownStatusEditTypeAdmin" class="form-control" asp-items="ViewBag.Status">
                        </select>
                        <label asp-for="fk_StatusId" class="control-label">End Status</label>
                    </div>
                </div>
                <div class="modal-footer" id="modalFooterEditTypeAdmin">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" value="Create" class="btn btn-primary" id="buttonModalEditTypeAdmin" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="formDeleteTypeAdmin" asp-action="DeleteType">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="modalLabelDeleteTypeAdmin" role="dialog" aria-labelledby="modalLabelDeleteTypeAdmin" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelDeleteTypeAdmin">Delete Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyDeleteTypeAdmin">
                    <p>Are you sure you want to Delete this TypeAdmin?</p>
                </div>
                <div class="modal-footer" id="modalFooterDeleteTypeAdmin">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" value="Create" class="btn btn-danger" id="buttonModalDeleteTypeAdmin" data-bs-dismiss="modal">Delete Type</button>
                </div>
            </div>
        </div>
    </div>
</form>

<br />

<table id="tblTypeAdmin" class="table table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                EndTaxType
            </th>
            <th>
                Debit
            </th>
            <th>
                ExtraInput
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/admin/finance/type.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css">
    <partial name="_ValidationScriptsPartial" />
}
